body{
    background-color:#ffffff;
    color: #F3FFB3;

}
header{
    background-color: black;
    color: #474545;

}
section{
    background-color: #ffffff;
    color: rgb(0, 0, 0);

}
footer{
    background-color: bisque;
    color:#F3FFB3;
}